body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: rgb(237, 237, 237);
}

#start_img {
    width: 100%;
    position: absolute;
    /* position to be changed to 1000px */
    left: 1000px;
    top: 0;
    transition: 2s ease-in-out;
    -moz-transition: 2s ease-in-out;
    -webkit-transition: 2s ease-in-out;
}

.red {
    width: 100%;
    height: 100vh;
    position: absolute;
    /* position to be changed to 1000px */
    left: 2000px;
    top: 0;
    transition: 2s ease-in-out;
    -moz-transition: 2s ease-in-out;
    -webkit-transition: 2s ease-in-out;
}

.wrapper{
    position: absolute;
    top: 0;
    left: 0;
}

#first-text, #second-text h1{
    font-family: 'Merriweather', serif;
}

#first-text {
    position: relative;
    left: 50px;
    top: 200px;
    transition: 2s ease-in-out;
    -moz-transition: 2s ease-in-out;
    -webkit-transition: 2s ease-in-out;
}

#second-text {
    position: relative;
    left: -2000px;
    top: -150px;
    transition: 2s ease-in-out;
    -moz-transition: 2s ease-in-out;
    -webkit-transition: 2s ease-in-out;
}

/* The side navigation menu */

.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F4F4F4;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 50px;
    color: #7a7a7a;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
    color: #e0e0e0;
}

/* Position and style the close button */

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav span {
    font-size: 30px;
}

img {
    height: 100vh;
}

.btn{
    padding: 5px 30px!important;
}

.num{
font-size: 700px;
position: absolute;
top: -500px;
left: 550px;
opacity: .5;
font-family: 'Merriweather', serif;
}